
body { 
    font-family: Arial, sans-serif; 
    line-height: 1.6; 
    background-color: #f9f9f9; 
    color: #333;
    padding: 20px;
}


.center-text { 
    text-align: center; 
}


.bio-container {
    text-align: center; 
}

ul { 
    display: inline-block; 
    text-align: left;      
    max-width: 600px;
}


.icons img {
    margin: 10px;
    transition: transform 0.2s; 
}

.icons img:hover {
    transform: scale(1.2);
}